<!Doctype html>
<html lang="en">
  <head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>

  <link rel="stylesheet" type ="text/css" href="resourcesstyle.css">

  <body>
    <header> 
        <style>
        a:link{
        text-decoration: none!important;
        cursor: pointer;
        }
        </style>
        <nav>
            <div class="row">
                    <div class = "logo">
                        <a href = "main.html" class="logo"><img src = "images/sanctuary.png"></a>
                    </div>
                <ul class="main-nav">
                    <div class = "links">
                    <a class = "Resource" href="Resources.html">Resources</a>
                    <a class = "safe" href="Safety.html">Safety Tips</a>
                    <a class = "Awareness" href ="Aware.html">Raising Awareness</a>
                    </div>
                </ul>
                </div>
        </nav>
    </header>
      <img src="images/resources1.jpeg" class="img"> 
<div class = header>
      <h1>With the pandemic currently going on, there are multiple online support groups available for women</h1>
    </div>

<div class=list>
<ul>
    <li>
        <a href = "https://jacstoronto.org/womens-support-group/?utm_source=google&utm_medium=cpc&utm_campaign=women&utm_content=v1&gclid=CjwKCAjwg4-EBhBwEiwAzYAlsl1zAi73rt_2pLlowr9dqC8H69-uW0Rc3TVVDTw0xf6TiIbLvtfEYRoC90YQAvD_BwE"> The JACS Women’s Support Group </a> </li>
            <p>The JACS Women’s Support Group aims to provide a safe and supportive environment 
                for any woman affected, both directly and indirectly, by addiction and problematic behaviours. 
                The weekly meeting utilizes an interactive group format in which participants are encouraged to share, check-in, 
                and/or address any concerns or problems they may have.</p>

    <li>
        <a href ="https://leanin.org/circles?gclid=CjwKCAjwg4-EBhBwEiwAzYAlspGPluvHsOszwXJN8c0w-V63CcNJuPGRx_ktEjUgZw510SsiSg8cOxoCdRMQAvD_BwE">Lean in Circles</a></li>
            <p>Leaning in is not a solo sport. In a world where women still face bias and other barriers at work, Circles are a safe space 
                to share your struggles, give and get advice, and celebrate each other’s wins. Whether you need help navigating your new 
                normal at work or are looking for support from women who understand what you're going through, your Circle will give 
                you the boost we all need to take on 2021.</p>

    <li>
        <a href= "https://stigmafreesociety.com/programs/womens-adult-support-group/">Women's Peer Support Group </a> </li>
            <p>The Women’s Peer Support group is a unique support group delivered by the Stigma-Free Society.  The group is unique 
                in that it consists of a small number of female participants who are generally 18+ who live with a mental health 
                condition such as bipolar disorder, schizophrenia, anxiety and/or depression.  You do not need an official diagnosis, 
                and we are here for you if you have mental health concerns.</p>

    <li>
        <a href="https://www.worldpulse.com/?gclid=CjwKCAjwg4-EBhBwEiwAzYAlshLZen_P50j9HXUmZ6ZiZp5vhi7Ulg_JeFlH_OMbuiXykUUGfBwmlRoCaSEQAvD_BwE">World Pulse </a> </li>
            <p> We provide a safe, supportive online space where women’s voices are rising from the ground up to make a difference. 
                On World Pulse, women and allies are logging on from more than 190 countries and exchanging stories and resources to 
                grow their impact. These digital connections have enabled our members to launch new social movements, businesses, 
                and initiatives - impacting the lives of 17.4 million people in their communities.</p>

    </ul>
</div>
</body>

  </html>