<!Doctype html>
<html lang="en">
  <head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>

  <link rel="stylesheet" type ="text/css" href="resourcesstyle.css">

  <body>
    <header> 
        <style>
        a:link{
        text-decoration: none!important;
        cursor: pointer;
        }
        </style>
        <nav>
            <div class="row">
                    <div class = "logo">
                        <a href = "main.html" class="logo"><img src = "images/sanctuary.png"></a>
                    </div>
                <ul class="main-nav">
                    <div class = "links">
                    <a class = "Resource" href="Resources.html">Resources</a>
                    <a class = "safe" href="Safety.html">Safety Tips</a>
                    <a class = "Awareness" href ="Aware.html">Raising Awareness</a>
                    </div>
                </ul>
                </div>
        </nav>
    </header>
    <img src="images/safetytips.jpeg" class="img"> 
    <div class = header>
          <h1>Focus on security: Travelling as a female</h1>
        </div>


<div class=safetylist>
<h2>General tips</h2>
    <ul>
        <li>Share your location with a friend or family member</li>
        <li>Take your bag with you to the bathroom every time, even on buses and trains</li>
        <li>Always go in a train car that has other people in it</li>
        <li>Avoid sleeping on trains</li>
        <li>Don’t be afraid to say no</li>
    </ul>

<h2>Travelling tips</h2>
    <ul>
        <li>Crowdsource your research</li>
        <li>For Airbnb or couch surfing, only go to places with lots of good reviews and make sure to check the reviewers profile to see if they have reviewed more than one place </li>
        <li> Make a local friend, build connections and connect with other travellers</li>
        <li> Give your itinerary to someone back home so that they know where you are</li>
        <li>Take pictures of all your documents and put them on a locked site like DropBox that you can access from any computer</li>
        <li>Commit to international phone plans in case of any emergencies</li>
        <li>Consider travel insurance</li>
        <li> Schedule regular check-ins with anyone back home through any social platform</li>
        <li>Pack light for more efficient travelling and to be less vulnerable to being robbed</li>
        <li>Have hard copies of your itinerary and important phone numbers with you at all times</li>
        <li>Don’t keep all your money in one place</li>
        <li>Store your extra cash in the bottom of a tampon or pad box. No one’s going to look in there</li>
        <li>Bring an external phone charger</li>
        <li>Try to dress like a local </li>
        <li>Consider buying a slash proof bag</li>
        <li>When ordering room service within a hotel, never identify that you are alone</li>
        <li>Have the address of your hotel or hostel written down to hand to taxi drivers when travelling in countries with different main languages</li>
        <li>Avoid using airpods of earphones when listening to music</li>
        <li>Build a financial cushion into your budget so you can take cabs when you feel unsafe walking</li>
        <li>Take a pic of your cab’s license plate before entering</li>
        <li>When you’re in a car or walking home, make a real or fake phone call to someone so the driver thinks you are meeting someone at your destination</li>
        <li>Track your cab via Google Maps so you can tell if you’re going off route</li>
        <li>If you stop to buy tickets or anything where your attention is away, put your bag between your legs or in between your body and the counter instead of beside you</li>
        <li>If you get in a situation where you feel alone and unsafe, start telling stories using “we” to imply that you are travelling with others</li>
    </ul>
</div>
  </body>
  </htnl?